html, body {
	margin: 0;
	height: 100vh;
	background-color: #3D4753;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.resume {
	width: 35%;
	box-shadow: 5px 5px 5px #333333;
}

.portfolio-link {
	font-family: 'Montserrat';
	color: white;
	text-decoration: underline;
	transition: 0.2s;
}

.portfolio-link:hover {
	color: gray;
	transition: 0.2s;
}

@media (max-width: 1000px) {

	.resume {
		width: 95%;
	}

	.portfolio-link {
		font-size: 2em;
	}

}