body {
	margin: auto 0;
	background-color: #FAFAF2;
}

p, div {
	color: #535762;
}

h2 {
	font-family: 'Montserrat';
	padding: 80px;
	text-transform: uppercase;
	text-align: center;
	font-size: 3em;
	margin-top: 0px;
}

li, a {
	color: #B3B3B3;
	text-decoration: none;
	font-family: 'Montserrat';
	font-size: 1em;
}

/*NAV BAR*/

.main-nav {
	color: white;
	display: flex;
	list-style: none;
	margin: 0;
}

.nav-size {
	font-size: 3em;
}

.contact-size {
	font-size: 2em;
}

.contact-style {
	cursor: pointer;
	transition: .4s;
}

.contact-style:hover {
	color: #FFC414;
	transition: .4s;
}

.email {
	/* width: 25em; */
	width: 10em;
	font-family: 'Montserrat';
	font-size: .5em;
	margin-bottom: 10px;
	position: relative;
	/* left: 50px; */
	/* left: 160px; */
	/* left: 210px; */
	/* text-align: center; */
	background-color: white;
	border-radius: 10px;
	padding: 8px;
	box-shadow: 5px 5px #888888;
	/* transition: 0.1s; */
}

.push {
	margin-left: 47%;
	margin-top: 15px;
}

.sticky {
	position: fixed;
	width: 100%;
}

/*COVER*/

.cover {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 25%;
	margin-right: 25%;
	height: 90vh;
	margin-bottom: 5%;
}

.intro-header {
	margin: 0.5em 0 0.25em 0;
	padding: 10px;
	font-family: 'Montserrat';
	font-size: 3em;
	background-color: #CDEBE9;
	border-radius: 10px;
	box-shadow: 5px 5px #888888;
}

.intro-paragraph {
	margin: 0.25em 0 0.5em 0;
	padding: 20px;
	font-family: 'Montserrat';
	font-size: 1.5em;
	background-color: #FCD0B7;
	border-radius: 10px;
	box-shadow: 5px 5px #888888;
}

/*ABOUT ME*/

.about-me {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #cbe5c1;
}

.about-me-header {
	margin-bottom: 0px;
}

.about-me-body {
	font-family: 'Montserrat';
	font-size: 1.5em;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 5px 5px #888888;
	width: 65%;
	margin-top: 0em;
	margin-bottom: 5em;
}

/*TOOLS*/

.tools {
	/* display: flex; */
	/* flex-direction: column; */
	/* align-items: center; */
	background-color: #DBE1E1;
}

.tools-icons {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	/* margin-left: 13%; */
	/* position: relative; */
	padding-bottom: 70px;
}

.tools-icons > div {
	width: 15%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin: 0 2.5em;
}

.tech-icon {
	/* width: 128px; */
	/* height: 150px; */
	width: 8em;
	height: 9.375em;
}

/* 
.tech-icons > div > img {
	width: 128px;
} */

.icon-labels {
	margin: 0.1em 0 1em 0;
	padding: 0;
	text-align: center;
	font-size: 1.875em;
	font-weight: 100;
	font-family: 'Montserrat';
	color: #535762;
}

/*PROJECTS*/

.projects {
	background-color: #ffffba;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projects-header {
	margin-bottom: 0em;
}

.project-img {
	border-radius: 30px;
	box-shadow: 5px 5px #888888;
	transition: .4s;
}

.project-img:hover {
	filter: brightness(50%);
	transition: .4s;
}

.project-desc {
	font-family: 'Montserrat';
	font-size: 1.4em;
	width: 43%;
	text-align: center;
	margin-bottom: 4em;
}

.noteworthy {
	font-family: 'Raleway', sans-serif;
	color: #5F885F;
	font-size: 3.5em;
	margin-top: 0.6em;
}

.idiom {
	font-family: 'Lobster';
	color: #3C74F5;
	font-size: 5em;
	margin-top: 0.3em;
}

.milam {
	font-family: Fjalla One;
	font-size: 3.5em;
	text-transform: uppercase;
	color: #414142;
}

.forecast {
	font-family: "Audiowide";
	font-size: 3.5em;
	color: black;
}

.throw-shade {
	font-family: 'Oswald', sans serif;
	text-transform: uppercase;
	letter-spacing: 1em;
	font-size: 2em;
	color: gray;
}

/*-----NOTEWORTHY BUTTONS-----*/

.noteworthy-btn-container {
	position: relative;
}

.noteworthy-project-btn {
	visibility: hidden;
	position: absolute;
	top: 45%;
	left: 30%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #5F885F;
	font-family: 'Montserrat';
	border: none;
	cursor: pointer;
	transition: .4s;
}

.noteworthy-code-btn {
	visibility: hidden;
	position: absolute;
	top: 45%;
	right: 30%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #535762;
	font-family: 'Montserrat';
	border: none;
	cursor: pointer;
	transition: .4s;
}

.noteworthy-btn-container:hover .noteworthy-project-btn, .noteworthy-btn-container:hover .noteworthy-code-btn {
	visibility: visible;
	transition: .4s;
}

/*-----IDIOM BUTTONS-----*/

.idiom-btn-container {
	position: relative;
}

.idiom-project-btn {
	visibility: hidden;
	position: absolute;
	top: 45%;
	left: 30%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #3C74F5;
	font-family: 'Montserrat';
	border: none;
	cursor: pointer;
	transition: .4s;
}

.idiom-code-btn {
	visibility: hidden;
	position: absolute;
	top: 45%;
	right: 30%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #535762;
	font-family: 'Montserrat';
	border: none;
	cursor: pointer;
	transition: .4s;
}

.idiom-btn-container:hover .idiom-project-btn, .idiom-btn-container:hover .idiom-code-btn {
	visibility: visible;
	transition: .4s;
}

/*-----VINCE MILAM BUTTONS-----*/

.milam-btn-container {
	position: relative;
}

.milam-project-btn {
	visibility: hidden;
	position: absolute;
	top: 45%;
	left: 42.5%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #535762;
	font-family: 'Montserrat';
	border: none;
	cursor: pointer;
	transition: .4s;
}

.milam-btn-container:hover .milam-project-btn, .milam-btn-container:hover .milam-code-btn {
	visibility: visible;
	transition: .4s;
}

/*-----FORECAST BUTTONS-----*/

.forecast-btn-container {
	position: relative;
}

.forecast-project-btn {
	visibility: hidden;
	position: absolute;
	top: 45%;
	left: 30%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #42586E;
	font-family: 'Montserrat';
	border: none;
	cursor: pointer;
	transition: .4s;
}

.forecast-code-btn {
	visibility: hidden;
	position: absolute;
	top: 45%;
	right: 30%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #535762;
	font-family: 'Montserrat';
	border: none;
	cursor: pointer;
	transition: .4s;
}

.forecast-btn-container:hover .forecast-project-btn, .forecast-btn-container:hover .forecast-code-btn {
	visibility: visible;
	transition: .4s;
}

/*-----THROW SHADE BUTTONS-----*/

.throw-shade-btn-container {
	position: relative;
}

.throw-shade-project-btn {
	visibility: hidden;
	position: absolute;
	top: 45%;
	left: 30%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #F9CC4F;
	font-family: 'Montserrat';
	border: none;
	cursor: pointer;
	transition: .4s;
}

.throw-shade-code-btn {
	visibility: hidden;
	position: absolute;
	top: 45%;
	right: 30%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #535762;
	font-family: 'Montserrat';
	border: none;
	cursor: pointer;
	transition: .4s;
}

.throw-shade-btn-container:hover .throw-shade-project-btn, .throw-shade-btn-container:hover .throw-shade-code-btn {
	visibility: visible;
	transition: .4s;
}

button {
	outline: none;
}

/*FOOTER*/

footer {
	font-family: 'Montserrat';
	color: #535762;
	text-align: center;
	margin: 20px;
}

.icon-link {
	color: #535762;
	margin-bottom: 0.4em;
	margin-top: 0em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	transition: .4s;
}

.github-icon:hover {
	color: black;
	transition: .4s;
}

.linkedin-icon:hover {
	color: #0077B5;
	transition: .4s;
}

/*__________MEDIA QUERIES__________*/

/*TABLETS*/

@media only screen and (max-device-width: 1024px) and (min-device-width: 769px) {



}

@media only screen and (max-device-width: 768px) and (min-device-width: 421px) {

	

}

/*MOBILE DEVICES*/

@media only screen and (max-device-width: 420px) and (min-device-width: 320px) {

	/*NAVBAR*/

	.nav-size {
		display: none;
	}

	.contact-size {
		font-size: 4em;
	}

	.email {
		font-size: 0.65em;
	}

	.push {
		margin-left: 0%;
		margin-top: 20px;
	}

	/*COVER*/

	.cover {
		/* margin-left: 15%; */
		/* margin-right: 15%; */
		margin: 0;
		height: 100vh;
		margin-bottom: 5%;
	}

	.intro-header {
		width: 90%;
		font-size: 7em;
		padding: 20px;
	}

	.intro-paragraph {
		font-size: 3.5em;
	}

	/*ABOUT ME*/

	.about-me {
		/* height: 100vh; */
	}

	.about-me-header {
		font-size: 8em;
	}

	.about-me-body {
		margin-bottom: 3em;
		padding: 1em;
		/* font-size: 2.5em; */
		font-size: 4em;
		/* width: 70%; */
		width: 90%;
	}

	/*TOOLS*/

	.tools {
		height: 100vh;
	}

	.tools-header {
		font-size: 8em;
	}

	.tools-icons > div {
		width: 40%;
	}
/* 
	.tech-icon {
		width: 100%;
	} */

	/*PROJECTS*/

	.projects-header {
		font-size: 8em;
	}

	.project-desc {
		font-size: 2.5em;
		width: 60%;
	}

}

/*iPHONE 5/SE*/

@media only screen and (max-device-width: 320px) {

	

}





