html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.gen-res-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F5F6EA;
}

.download-link {
	width: 20vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans serif;
	font-size: 1em;
	background-color: #29441B;
	color: white;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 3px 6px 5px #888888;;
	transition: .2s;
}

.download-link:hover {
	opacity: 0.8;
	transition: .2s;
}

@media only screen and (min-height: 900px) {
	.download-link {
		width: 50%;
		height: 10%;
		font-size: 3em;
		border-radius: 10px;
	}
}